form {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.center-element {
  padding-top: 23px;
}

label {
  color: rgba(0, 0, 0, 0.42)
}

.input-time-field input {
  margin-left: 15px;
}

.root {
  width: 100%;
  margin-top: 3px;
  overflow: auto;
}

.table {
  min-width: 700px;
}